{% extends 'dashboard/index.html' %}

{% block content %}
<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header">
            <h4 class="card-title">Category detail</h4>
            <p class="category">Here is a subtitle for this table</p>
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ ctg.content }}</td>
                    </tr>
                    <tr>
                        <td>Price Symbol</td>
                        <td>{{ ctg.price_symbol }}</td>
                    </tr>
                    <tr>
                        <td>Real Price</td>
                        <td>{{ ctg.real_price }}</td>
                    </tr>
                    <tr>
                        <td>Discount Price</td>
                        <td>{{ ctg.discount_price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<img src="http://127.0.0.1:8000/media/{{ ctg.image }}">



{% endblock %}

